<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>苏宁小店</title>
    <link rel="stylesheet" href="css/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="css/reset.min.css">
    <link rel="stylesheet" href="css/search.min.css">
    <link rel="shortcut icon" href="/suning/images/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="sn_container">
<div class="search">
    <span class="mui-icon mui-icon-search"></span>
    <input type="search" placeholder="搜素附近的商品和门店">
    <a  href="javascript:history.back()" class="cancel">取消</a>
</div>
<div class="historySearch">
    <div class="topBar">
        <div class="text f_left">搜索</div>
        <div class="mui-icon mui-icon-trash icon f_right"></div>
    </div>
    <div class="middleBar">

    </div>
</div>
</div>
</body>
<script type="text/html" id="historyTemplate">
    <% if(model && model.length){ %>
    <% for(var i =0 ;i < model.length ; i++){ %>
    <a href="/suning/searchList.html?key=<%=model[i]%>"><span><%=model[i]%></span></a>
    <% } %>
    <%}else{%>
    <a href=""><span>没有搜索记录</span></a>
    <%}%>
</script>
<script src="lib/artTemplate/template-native.js"></script>
<script src="lib/jquery.min.js"> </script>
<script src="lib/mui/js/mui.min.js"></script>
<script src="js/common.js"></script>
<script src="js/search.min.js"></script>
</html>