html, body {
    height: 100%;
}

.search {
    height: 2rem;
    width: 15rem;
    text-align: center;
    position: relative;
    line-height: 1.7rem;
}

.search input[type=text] {
    width: 14rem;
    height: 1.1rem;
    line-height: 1.1rem;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    font-size: 0.24rem;
    padding-left: 1.41rem;
}

.search span {
    position: absolute;
    left: 1.1rem;
    top: 0.65rem;
    font-size: .75rem
}
.content {
    position: absolute;
    left: 0;
    top: 2rem;
    width: 15rem;
    height: 100%;
}

.left {
    width: 3rem;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: #F4F4F4;
}

.sn_container .mui-scroll {
    padding-bottom: 4rem;
}

.right {
    width: 12rem;
    margin-left: 3rem;
    background-color: #fff;

}

.left ul {

}

.left ul li {
    text-align: center;
    height: 2.4rem;
    font-size: .28rem;
    font-weight: bold;
    line-height: 2.4rem;
}

.left ul li a {
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
}

.left ul li a.now {
    color: #FF6600;
    border-left: 3px solid #FF6600;
    background-color: #f9f9f9;
}


.cate-banner a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}
.cate-banner img{
    width:11.6rem;
    height: 3.5rem;
}
.cate-banner input {
    margin: 0.3rem 0;
    width: 11.6rem;
    height: 1rem;
    border: 0;
    background-color: #f2f2f2;
    font-size: .56rem;
    border-radius: 15px;
}
.product {
    padding: 0.3rem 0;
}

.product_img {
    padding: 0.2rem;
    width: 3.75rem;
    height: 3rem;
}

.product_text {
    width: 8.25rem;
    position: relative;
    border-bottom: 1px solid #eee;
}

.product_text p {
    color: #000;
    font-size: .56rem;
}

.product_img img {
    width: 2.5rem;
    height: 2.5rem
}


.product_text .money{
    color: #FF6600;
}
.cate-banner{
    padding: 0.2rem;
}


.add{
    position: absolute;
    bottom: 3px;
    right: .3rem;
}
.add a{
    width:.8rem;
    height: .8rem;
    border-radius: 50%;
    background-color:#FF9900;
    float: left;
    position: relative;
    text-align: center;
    line-height: .8rem;
    color: #f3f3f3;
    font-size:10px;
    font-weight: 700;
    /*margin-right: 10px;*/
}
.add a:nth-child(2){
    background-color:#fff;
    color: #555;
    font-size:.5rem;
}



.product_text span {
    font-weight: bold;
    color: #FF6600;
    position: absolute;
    bottom: .014rem;
    right: .3rem;
}
.product{
    position: relative;
    width: 100%;
}
.product .product_img{
    width: 25%;
}
.product .product_text{
    width: 50%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.product .add{
    top:.3rem!important;
    width: 25%;
}
.product .add a{
  margin-right: .14rem;
}
.product .proName{
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.button{
    position: absolute;left:0;top:50%;font-size:.562rem;

}
.animationImg{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: .2rem;
    top:.2rem;
}
.animationImg.tap{
    opacity: 1;
    animation: animationImg 3s;
    animation-fill-mode: forwards;
}
.u-flyer {
    width:2.5rem;height:2.5rem;border-radius:50%;z-index: 10001
}
@keyframes animationImg {
    from{

    }
    to{
        left: 6rem;
        top:10rem
    }
}