body, html {
    height: 100%;
    min-height: 24rem;
    background-color: #fff!important;
    color: #000
}
.login-main, body {
    position: relative;
}
.login-container, body, html {
    width: 100%;
}
.login-title {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 2rem;
}

.login-title li {
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 2rem;
    text-align: center;
    font-size: .6rem;
}
.login-title li.active a {
    color: #222530;
    border-bottom: .12rem solid #f60;
    display: inline-block;
    height: 100%
}

.login-main {
    padding: 2rem .56rem 0;
    position:relative;
}
.login-main .login-form {
    width: 100%;
}

.login-main .login-form .form-content {
    height: 1.8rem;
    line-height: 1.8rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.login-main .login-form .form-content span {
    display: block;
    width: 2rem;
    text-align: left;
    font-size: .6rem;
    color: #222530;
}
.login-main .login-form .form-content .form-input {
    display: block;
    margin-left: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.login-main .login-form .form-content .form-input input {
    width: 100%;
    font-size: .6rem;
    border: none;
    background: #fff;
    color: #222530;
    height: auto;
    padding: 0;
}

.login-operate {
    margin-top: 1.2rem;
}
.login-main .login-dropDown ul, .login-operate, .login-others {
    padding: 0 .56rem;
}
.login-operate .login-btn.active-login-btn {
    background-color: #f60;
}
.login-operate .login-btn {
    display: block;
    width: 13.88rem;
    height: 1.6rem;
    text-align: center;
    line-height: 1.6rem;
    margin: 0 auto;
    border-radius: .16rem;
    background-color: #cacaca;
    color: #fff;
    font-size: .6rem;
}
.login-operate .login-guide {
    width: 100%;
    margin-top: .6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.login-operate .login-guide a:first-child {
    color: #f60;
}
.login-operate .login-guide a {
    display: block;
    font-size: .48rem;
    color: #222530;
}
.login-operate .sign-btn {
    display: block;
    width: 4.4rem;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    border-radius: .16rem;
    border: 1px solid #f60;
    color: #f60;
    font-size: .56rem;
    margin: .8rem auto 0;
}