.sn_container{
    position: relative;
}
.sn_header {
    text-align: center;
    border-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    padding: 0 10px;
    background-color:transparent;
}
.sn_header .sn-nav-product{
    position: relative;
    height: 44px;
    line-height: 44px;
    font-size: 17px
}
.sn_header .sn-nav-product .go-back{
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 44px;
    background:url("../images/goback.png") 50%  no-repeat;
    background-size: contain;
}
.sn_header .sn-nav-product .go-back a{
    display: block;
    width: 30px;
    height: 44px;
    text-indent: -100rem;
    overflow: hidden;
    opacity: 0;
}
.sn_header.scroll .sn-nav-product .go-back{
    background-image: url("../images/go-back2.png");
}
.sn_header .sn-nav-product .main{
    display: none;
}
.sn_header.scroll .sn-nav-product .main{
    display: block;
    margin: 0 60px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 11;
    font-size:16px;
    color:#222
}
.sn_header.scroll{
    position: fixed;
    top: 0;
    background-color:#fff;
}
.banner a img{
    width:15rem;
    height:auto;
}
.product-main{
    overflow: hidden;
    padding: 12px 12px 0;
    background: #fff;
}
.product-main li{
    font-size: 12px;
    margin-bottom: 3px;
    line-height: 1rem;
    height: 1rem;

}
.product-main .oldPrice{
    color: #f50;
    font-weight: 700;
}
.product-main .newPrice{
    color: orange;
    font-weight: 700;
    font-size: 14px;
}
.product-main .newPrice span {
    font-size:12px;
}
.product-main .super{
    border-radius: 5px;
    color: #333;
    background-color:#fff5eb;
}
.product-main .bigText{
    font-size: .703rem;
    color: #000;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis

}
.product-main .smallText{
    color:#666;
}
.sn_footer-product{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 15rem;
    height: 2rem;
    z-index: 199;
    border-top: 1px solid #EEE;
    background-color: #000;
}
.sn_footer-product .cur{
    width: 3.75rem;
    text-align: center;
}
.sn_footer-product .cur img{
    width: 2rem;
}
.sn_footer-product .cart{
    width: 11.25rem;
    padding:5px;
    border-radius: 10px;
}
.sn_footer-product .cart div{
    line-height: 1.5rem;
    background-color:#f60;
    text-align: center;
    font-size: 18px;
    color: #fff;
    height: 100%;
    border-radius: 10px  ;
}
.logo{
    display: table-cell;
    vertical-align: center;
}
.logo img{
    width:5rem;
    height:auto;
}
.logo a{
    margin-left: 6rem;
    font-size: 0.28rem;
}


