*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    touch-action: pan-y;
}
html body{
    font-family: "Microsoft YaHei",sans-serif;
    color: #333;
    background-color:#f2f2f2
}
ul,ol{
    list-style: none
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
input,textarea{
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}
img{
    vertical-align: middle;
}
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearFix::before,
.clearFix::after{
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}
.m_l10{
    margin-left:10px;
}
.m_r10{
    margin-right:10px;
}
.m_t10{
    margin-top:10px;
}
.m_b10{
    margin-bottom:10px;
}
html,body{
    font-size: 50px;
}
@media (min-width:320px){
    html,body{
        font-size:21.33px;
    }
}
@media (min-width:360px){
    html,body{
        font-size:24px;
    }
}
@media (min-width:375px){
    html,body{
        font-size:25px;
    }
}
@media (min-width:384px){
    html,body{
        font-size:25.6px;
    }
}
@media (min-width:400px){
    html,body{
        font-size:26.67px;
    }
}
@media (min-width:414px){
    html,body{
        font-size:27.6px;
    }
}
@media (min-width:424px){
    html,body{
        font-size:28.27px;
    }
}
@media (min-width:480px){
    html,body{
        font-size: 32px;
    }
}
@media (min-width:720px){
    html,body{
        font-size: 48px;
    }
}
@media (min-width:750px){
    html,body{
        font-size:50px;
    }
}
.sn_container{
    position: relative;
    width: 15rem;
    margin: 0 auto;
    height: 100%;
}

.sapoint-style12{
    background-image: linear-gradient(-90deg,#ff4950 0,#ff8123 100%);
}
em,i{font-style:normal}