body{
    background-color: #fff!important;
}
.sn-main {
    font-size: .6rem;
}
.js-main .desc {
    font-family: PingFangSC-Semibold;
    font-size: .48rem;
    color: #666;
}
.sn-main .desc {
    padding: .86rem .8rem .48rem;
    line-height: 1.5;
    color: #666;
}
.js-main .desc p.vmsy {
    font-size: .68rem;
    color: #222;
}

#derc {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    margin-top: .84rem;
    height: 1.2rem;
    line-height: 1.2rem;
    position: relative;
}
#black1 {
    font-family: PingFangSC-Regular;
    font-size: .68rem;
    color: #222;
    margin-top: .6rem;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
}
.sn-main #getcode {
    display: inline-block;
    font-size: .64rem;
    width: 4rem;
    height: 1.2rem;
    border-radius: .6rem;
    line-height: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    text-align: center;
}
.org1 {
    color: #f50;
    border: 1px solid #f50;
}
.p30 {
    padding: 0 .6rem;
}
.sn-main .input-block {
    height: 1.8rem;
    line-height: 1.8rem;
    border-bottom: 1px solid #dcdcdc;
    box-sizing: content-box;
}

.sn-btn.sn-btn-dark {
    color: #fff;
    background: -webkit-linear-gradient(0,#ff8f00 0,#f50 97%);
    background: -moz-linear-gradient(0,#ff8f00 0,#f50 97%);
    background: -o-linear-gradient(0,#ff8f00 0,#f50 97%);
    background: -ms-linear-gradient(0,#ff8f00 0,#f50 97%);
    background: linear-gradient(90deg,#ff8f00 0,#f50 97%);
    background-color: #f50;
    border-radius: .36rem;
    -webkit-border-radius: .36rem;
    -moz-border-radius: .36rem;
    -ms-border-radius: .36rem;
    -o-border-radiu: .36rem;
    opacity: .5;
}
.sn-btn.sn-btn-big {
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: .64rem;
    display: block;
    text-align: center
}

.m30 {
    margin: .6rem;
}
.mt60 {
    margin-top: 1.2rem;
}